[Unit]
Description=Update the brightness of the display using icc profiles

[Service]
Type=simple
ExecStart=/home/elliott/workspace/icc-brightness/kde_brightness_monitor.py

[Install]
WantedBy=default.target

